<script>_W = _W || {};
			_W.customerLocale = "en_US";
			_W.storeName = null;
			_W.isCheckoutReskin = false;
			_W.storeCountry = "PA";
			_W.storeCurrency = "EUR";
			_W.storeEuPrivacyPolicyUrl = "";
			com_currentSite = "897210165153652097";
			com_userID = "91600416";</script>
<script>
var STATIC_BASE = '//cdn1.editmysite.com/';
var ASSETS_BASE = '//cdn11.editmysite.com/';
var STYLE_PREFIX = 'wsite';
</script>
<script type="text/javascript"> _W.recaptchaUrl = "https://www.google.com/recaptcha/api.js"; </script>
<script type="text/javascript"> _W = _W || {}; _W.securePrefix='UNSET'; </script>
<script type="text/javascript">_W.configDomain = "www.weebly.com";</script>
<script>_W.relinquish && _W.relinquish()</script>
<script> _W.themePlugins = [];</script>